<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vfor</title>
    <script src="vue.js "></script>

</head>

<body>
    <div id="app">
        <div class="div1">
            <span v-for="(item,index) in numbers">{{index+1}}.{{item}}&nbsp;</span>
        </div>
        <div class="div2">
            <span v-for="(item,index) in strings" :key="index">{{index+1}}.{{item}}&nbsp;</span>
        </div>
        <div class="div3">
            <ul v-for="(item,index) in books">
                <li :key="index">名称：{{item.name}}，价格：{{item.price}}</li>
            </ul>
        </div>
        <div>{{Math.random()}}</div>

        <div>
            <button v-on:click="addNumbers">add number</button>
            <button v-on:click="addBooks">add books</button>
        </div>
    </div>

    <script>
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    numbers: [34, 46, 234, 68, 23, 78, 2, 23, 57],
                    strings: ['aaa', 'bbb', 'rrr', 'eee'],
                    books: [{
                        name: 'vue',
                        price: 34,
                    }, {
                        name: 'react',
                        price: 5,
                    }, {
                        name: 'anglar',
                        price: 18,
                    }],
                    grades: [{
                        name: 'anglar',
                        price: 18,
                    }]
                }
            },
            methods: {
                addNumbers: function() {
                    this.numbers.push(33);
                },
                addBooks: function() {
                    this.books.push({
                        name: "java",
                        price: 58,
                    });
                },
            },
        });
    </script>
</body>

</html>